@font-face {
  font-family: "Graduate";
  font-style: normal;
  src: url("./Graduate-Regular.ttf");
}

body {
  font-family: "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Graduate";
  color: #66af30;
  font-size: 3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
}
div {
  box-sizing: border-box;
}

a {
  color: #66af30;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #f7f7f7;
}

button:focus,
[role="button"]:focus,
input:focus {
  outline: 2px solid #ffad46;
}
